<ion-header >
  <ion-toolbar *ngIf="!escaneando">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>QR Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!escaneando">
  <ion-card>
    <ion-card-content>
      <pre *ngIf="codigo">QrScanResult {{codigo|json}}</pre>
      <p *ngIf="!codigo">Escanea un código QR</p>
      <hr>
      <ion-button (click)="scan()">Escanear</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="escaneando" class="text-center">
  <span class="small bold shadow">
    Apunte la cámara a un Código QR.
  </span>
  <br>
  <ion-button (click)="cancelar()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-footer>
