<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user?.id">
    <ion-card-header>
      <ion-card-title>{{user.username}}</ion-card-title>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span *ngIf="user?.profile">
        Perfil: {{user.profile}}
      </span>
      <hr>
      <ion-button (click)="salir()">
        Salir
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
