<ion-header>
  <ion-toolbar>
    <ion-title>Verificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Código de Verificación</ion-card-title>
      <ion-card-subtitle>Se envió a su email</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formVerificacion" (ngSubmit)="submitForm()" novalidate>
        <ion-list>
          <ion-item>
            <ion-label>Correo eletrónico:</ion-label>
            <ion-input formControlName="email"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
              Requerido.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.invalidEmail">
              No válido.
            </span>
          </ion-item>
          <ion-item>
            <ion-label>Código:</ion-label>
            <ion-input formControlName="code"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button type="submit">Validar mi correo</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
