<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Google Maps</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <capacitor-google-maps #map></capacitor-google-maps>
</ion-content>
