<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acceder
    </ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acceso</ion-card-title>
      <ion-card-subtitle *ngIf="appInfo?.name">{{appInfo?.name}} v{{appInfo?.version}}-{{appInfo?.build}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-padding-top">
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <ion-item lines="none" class="ion-no-padding">
              <ion-input
                type="email"
                placeholder="Correo Electrónico"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <div
              class="errors-container"
              *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
            >
              <ng-container *ngIf="loginForm.get('email').errors.required"
                >Email requerido</ng-container
              >
              <ng-container *ngIf="loginForm.get('email').errors.invalidEmail"
                >Email no válido</ng-container
              >
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input
                type="password"
                placeholder="Contraseña"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <div
              class="errors-container"
              *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
            >
              <ng-container *ngIf="loginForm.get('password').errors.required">
                Contraseña requerida
              </ng-container>
              <ng-container *ngIf="loginForm.get('password').errors.invalidPassword">
                {{loginForm.get('password').errors.message}}
              </ng-container>
            </div>

            <ion-button
              [disabled]="loginForm.invalid"
              class="action-button ion-margin-top"
              expand="block"
              fill="solid"
              color="primary"
              type="submit"
            >
              <span>Ingresar</span>
            </ion-button>
            <ion-button (click)="facebookLogin()" expand="block">Facebook Login</ion-button>
            <div *ngIf="facebookProfile?.id">
              <hr>
              <pre>{{facebookProfile|json}}</pre>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
