<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cámara</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="imagen" *ngIf="imagen"></ion-img>
    <ion-card-content>
      <ion-button (click)="camara()">
        Tomar Foto
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
