<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header *ngIf="auth.token">
            {{user?.username}}
            <app-socket-status></app-socket-status>
          </ion-list-header>
          <ion-note *ngIf="auth.token">{{user?.email}}</ion-note>

          <ion-list-header *ngIf="!auth.token">Bienvenido</ion-list-header>
          <ion-note *ngIf="!auth.token">Usuario Anónimo</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" [hidden]="auth.token&&p.hideOnSession">
            <ion-item [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" *ngIf="!p.requireSession || (p.requireSession&&auth.token)">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="!auth.token">
            <ion-item [routerLink]="['/login']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'log-in-outline'" [md]="'log-in-sharp'"></ion-icon>
              <ion-label>Acceder</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="auth.token">
            <ion-item (click)="salir()" lines="none" detail="false" routerLink="#">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
