<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <div slot="end">
      <app-socket-status></app-socket-status>
    </div>
    <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>A la página principal...</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Hola <a routerLink="/perfil">{{user?.username}}</a>
      <hr>

      <pre *ngIf="deviceInfo">DeviceInfo {{deviceInfo|json}}</pre>
      <hr *ngIf="deviceInfo">

      <pre *ngIf="networkStatus">ConnectionStatus {{networkStatus|json}}</pre>
      <hr *ngIf="networkStatus">

      <pre *ngIf="posicion">Position {{posicion|json}}</pre>
      <hr *ngIf="posicion">

      <ion-button (click)="obtenerPosicion()">
        Posicion
      </ion-button>
      <ion-button (click)="enviarNotificacion()">
        Notificación
      </ion-button>
      <ion-button (click)="compartir()">
        Compartir
      </ion-button>
      <ion-button (click)="toastNativo()">
        Toast Nativo
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
