<ion-header>
  <ion-toolbar>
    <ion-title>Registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Registro</ion-card-title>
      <ion-card-subtitle>Se enviará un código de verificación a su correo electrónico.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formRegistro" (ngSubmit)="submitForm()" novalidate>
        <ion-list>
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input placeholder="Nombre completo" formControlName="username"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
              Requerido
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.minlength">
              Por lo menos 5 letras
            </span>
          </ion-item>
          <ion-item>
            <ion-label>Correo electrónico:</ion-label>
            <ion-input formControlName="email"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
              Requerido.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.invalidEmail">
              No válido.
            </span>
          </ion-item>
          <ion-item>
            <ion-label>Contraseña:</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Validación:</ion-label>
            <ion-input type="password" placeholder="Repita su contraseña" formControlName="confirmPassword"></ion-input>
            <div *ngIf="passwordMatchError">
              La contraseña y su validación no coinciden.
            </div>
          </ion-item>
        </ion-list>
        <div *ngIf="error" class="error">
          {{error}}
        </div>
        <ion-button type="submit" expand="block">Registrarme</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
